/* For Whole Page */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:  Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body::-webkit-scrollbar { 
    display: none;
}

.body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* Header */

.header-container {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #3B536F;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Banking Icon */
.header-container h1{
	color: #fff;
	font-size: 50px;	
}

/* Logout Button */
.header-container .href-button {
	position: absolute;
	top: 20px;
	right: 30px;
	text-decoration: none;
	float: right;
}

.header-container .back_href-button {
	position: absolute;
	top: 20px;
	left: 30px;
	text-decoration: none;
	float: left;
}

.header-container :is(.href-button, .back_href-button) button {
	width: 100px;
	height: 49px;
	outline: none;
	border: none;
	border-radius: 49px;
	background-color: #3B536F;
	color: #fff;
	font-size:18px;
	font-weight: 600;
	text-transform: capitalize;
	margin: 10px 0;
	cursor: pointer;
}

.header-container :is(.href-button, .back_href-button) button:hover {
	color: #090c11;
	background-color: #2196F3;
}

.header_col_1{
	margin-top: 0;
	position: relative;
	width: 100%;
	background: #D6D6D6;
	display : flex;
}

.fas_align_one_button{
	justify-content: end;
	align-items: center;
}

.fas_align_two_buttons{
	justify-content: space-between;
	align-items: center;
}


 .header_col_1 .fas {
	position: relative;
	text-decoration: none;
	color: #fff;
	border: 1px solid #3B536F;
	background-color: #3B536F; 
	padding: 7px 20px;
	font-size: 14px;
	border-radius: 5px;
	margin: 5px;
}

.header_col_1 .align-left{
	left: 10%;
}

.header_col_1 .align-right{
	right: 10%;
}


.additional_Links{
	float: right;
	margin: 5px 0px; 
}

#hyperlink_button{
	display: block;
	width: 100px;
	height: 30px;
	background-color: #ddd;
	font-weight: 600;
	text-align: center;
}

.xs-vhr{
	display: none;
}

/* Container */

.container {
	position: relative;
	margin:0px auto 20px auto;
	width: 80%;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	overflow-y: auto;
}

/* Demat and overdraft links */

.container .links{
    text-decoration: none; 
	color:black;
	float: right;
	font-size: 11px;
	cursor:pointer;
}

.container .links:hover{
	color:blue;
}

#Account_type{
	position: relative;
	background-color: #3B536F;
	color: white; 
	text-align: center;
}

#Account_type h2{
	font-size: 25px;
	font-weight: 550;
	color:#fff;
	background-color: #3B536F;
}

.inner-container{
	display: flex;
	position: relative;
	width: 100%;
}

.inner-container::-webkit-scrollbar {
  display: none;
}

.to-top{
	display: none;
}

.personal-info{
	display: flex;
	flex-direction: column;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid #d1cfcf;
    margin-top: 17px;
    list-style-type: none;
}

.personal-info > *{
	flex: 1 1 auto;
} 

.personal-info li {
    margin-bottom: 0;
    border-bottom: 1px solid #d1cfcf;
}

label{
	background-color: #999;
    color: #fff;
    float: left;
    font-size: 0.8em;
    line-height: 22px;
    padding-left: 7px;
    font-weight: 700;
    width: 145px;
    text-transform: capitalize;
}

.personal-info li span{
	color: #666;
	text-transform: capitalize;
    padding-left: 7px;
   	line-height: 22px;
    width: 145px;
    font-weight: 600;
    font-size: 0.7em;
   	display: inline-block;
}

.clr{
    clear:both;
    font-size:0;
}

.tth{
	background-color: #3B536F;
	color: white; 
	text-align: center;
}

.tth h2{
	font-size: 25px;
}

.table_container{
	width: 100%;
	overflow-x: auto;
}

table{
	width: 100%;
	border-collapse: collapse;
  	border-spacing: 0;
  	border: 1px solid #ddd;
  	white-space: nowrap;
  	table-layout: auto;
  	margin:5px 0px;
}

tr{
	width: 100%;
}

th,td{ 
	padding:8px;
	border-right: 1px solid #ddd;
	text-transform: capitalize;
}

th > a{
	font-size: 1em;
	font-weight: 900;
	color:  #fff;
	text-align: center;
}

#header_row{
	background-color: #666;
	color: #fff;
}

td{
	font-size: 0.9em;
	font-weight: 500;
	color:#666;
	text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-search{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin-top: 10px;
}

.table-search .search-wrapper{
	position: relative;
	width: 80%;	
}

.table-search .table-searchbar{
	background-color: transparent;
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #3B536F;
	padding: 0.5em 0.7em;
	outline: none;
	color:#666;
	font-size: 0.8em;
	font-weight: 700;
}


.table-search .search-table{
	font-size: 20px;
	margin-left: 20px;
	margin-top: 5px;	
	color: #3B536F;
	
}

.table-search .search-table:visited{
	color: #3B536F;	
}

.table-search .cancel-search-table{
	display: none;
	position: absolute;
	right: 5px;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 5px;	
	color: #3B536F;
}

.table-search .cancel-search-table:visited{
	color: #3B536F;	
}

/* Back Button */

.container .href-button button {
	position: relative;
	top: 25px;
	width: 150px;
	height: 49px;
	outline: none;
	border: none;
	border-radius: 49px;
	background-color: #D3D3D3;
	color: #090c11;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	margin: 10px 0;
	cursor: pointer;
}

td .link{
	text-decoration: none;
	margin: 0 auto;
	display: inline-block;
	color: #0000FF;
	width: 100%;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
	user-select: none;
	border: 1px solid #0000FF;
	background-color: #F0F8FF;
}

td .link:hover{
	color: blue;
}

.table-sortable th{
	cursor: default;
}

.table-sortable th a{
	cursor: pointer;
}

.active{
	background: #3B536F;
} 

.table-sortable .th-sort-asc::after{
	content: "\25b4";
}

.table-sortable .th-sort-desc::after{
	content: "\25be";

}

 .table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
	margin-left: 5px;
} 



.btn {
	position: relative;
	top: 25px;
	width: 150px;
	height: 49px;
	outline: none;
	border: none;
	border-radius: 49px;
	background-color: #D3D3D3;
	color: #090c11;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	margin: 10px 0;
	cursor: pointer;
}

.btn:hover {
	color: #090c11;
	background-color: #2196F3;
}

.textElement{
	border: none;
	color: #666;
    float: right;
   	line-height: 22px;
    width: 62%;
    font-weight: 600;
    font-size: 12px;
}

/*---------------------------- Pagination ----------------------------*/

 .center {
  	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	flex-wrap: wrap;
	
} 

.pagination {
  /* display: inline-block; */
  justify-self: start;
  align-self: center;
  margin-left: 0px;
}
.pagination a {
  color: black;
  float: left;
  padding: 2px 5px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #D3D3D3;
  color: black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a {
  border: 1px solid #ddd; 
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.infopart{
	justify-self : end;
	align-self : center;
	
}

.infopart a{
	border: 1px solid #ddd; 
	padding: 2px 5px;
	text-decoration: none;
	color: #666;
	background-color:#D3D3D3;
}

#rginfopart{
	font-size: 12px;
	color: #666;
}

#rftextbox{
	padding: 2px;
	width: 20px;
	border: 1px solid #ddd;
  	text-decoration: none;
}

#rftextbox2{
	padding: 2px;
	width: 20px;
	border: 1px solid #ddd;
  	text-decoration: none;
}

.pagination-mobile{
	display: none;
}


@media ( max-width : 650px) {
	
	body .container{
		width: 100%;
		margin-bottom: 0px;
		padding: 0px 0px;
		border-radius: 0px;
	} 
	
	.header_col_1 .align-right {
    	right: 2px;
	}
	
	.header_col_1 .align-left{
    	left: 2px;
	}
	
 	.additional_Links{
 		float: none;
		display: flex;
		justify-content: space-around;
		position: relative;
		left: 0;
		right: 0;
		top: 5px;
		font-size: 13px;
	}
	
	.xs-vhr{
		display: block;
		width: 2px;
		height: 30px;
		border: none;
		background-color: #ddd;
	}
	
	#hyperlink_button{
		border: 0px; 	
		width: 100px;
		height: 30px;
		color: #0000FF;
		background-color: #fff;
		font-weight: 600;
		text-align: center;
	}
	
	#hyperlink_button:hover, #hyperlink_button:active{
		color: #0000FF;
		border-bottom: 2px solid #0000FF;
		
	}
	
	.inner-container, .table_container{
		padding: 0px 5px;
	}
	
	.center{
		display: none;
	}
	
	.pagination-mobile{
		display:block;
		text-align: center;
		font-weight: 600;
		color: blue;
		padding: 5px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin: 5px 0px;
	}

	.pagination-mobile>a{
		text-decoration: none;
	}
	
	.pagination-mobile a, .pagination-mobile a:visited, .pagination-mobile a:hover, pagination-mobile a:active{
		color: inherit;
	}

	.pagination-mobile > a > span{
		color: inherit;
		margin-left: 10px;
		vertical-align: center;
	}
	
	.to-top{
		background: #3B536F;
		position: fixed;
		right: 1rem;
		bottom: 16px;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: #fff;
		text-decoration : none;
		opacity: 0;
		pointer-events: none;
		transition: all .4s;
	}	
	
	.to-top.active{
		bottom: 32px;
		pointer-events: auto;
		opacity: 1;
	}
}


@media (max-width: 800px){
	
	table{
		table-layout: fixed;
		width: 100%;
		border: none;
	}
	
	th{
		display: none;
	}
	
	td{
		display: block;
		text-align: right;
		position: relative;
		width: 100%;
		padding: 0.75rem 1rem;
		border-bottom: 1px solid #ddd;
	}
	
	td::before{
		content: attr(data-cell);
		font-weight: 900;
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 10px;
		font-size: inherit;
		color:#3B536F;
		text-transform: capitalize;
		text-align: left;
	}
	
	td .link{
		width: 130px;
		border: 1px solid transparent;
		background-color: #0000FF;
		color: white;
	}
	
	table tbody tr{
		margin-bottom: 16px;
		float: left;
		clear: both;
		box-shadow: 0px 4px 20px rgba(5,57,94,.5);
		-moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
		-webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
	}
	
}
